.idea/
.venv/
__pycache__/
*.py[cod]

.DS_Store
Thumbs.db

models/

data/annotations/*.json
data/val2017/
data/train2017/
data/test2017/

outputs/**/all_layers_raw/
outputs/**/*.npy
outputs/**/*.npz

*.log
